
.gcx-news-card .news-card-header {
    display: flex;
    flex-direction: row;
}

.gcx-news-card .news-card-header img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.oliver-test {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.picture-test {
    flex: 1;
    min-width: 200px;
    padding: 5px;    

    /* min-height: 200px; */
}

.details-test {
    flex: 5;
    text-align: start;
    padding: 5px;
    height: 100%;
    justify-content: space-between;
} 

.user-icon {
    flex: 1;
    min-width: 40px;
    padding: 5px;    
}

.news-meta-info {
    flex: 5;
    padding: 5px;
}

.thumbnail {
    height: 100%;
    width: 100%;
}

.gcx-news-card h3 {
    margin: 0;
}

.gcx-news-card .header-text {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.news-card-header {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.gcx-news-card .news-card-content {
    display: inline-block;
    padding: 10px 0;
}

.gcx-news-card {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.news-card-author {
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* justify-content: space-between; */
    height:100%;
    align-self: flex-end;
}

.news-card-author span:last-child {
    color: #858585;
}


.details-test a:link,
.details-test a:visited,
.details-test a:hover,
.details-test a:focus,
.details-test a:active {
  color: black;
  /* Optional: removes the default underline from links */
  text-decoration: none; 
}

.ellipsis-text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Styles created for the new NewsArticle component */
.gcx-news-card {
    border: 1px solid #d3cece;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.newsArticle-cardContent {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 1;
}
.newsArticle-cardImage {
    width:200px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.newsArticle-cardImage img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.newsArticle-cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.newsArticle-description {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile {
    border: 0px solid black;
    border-radius: 40px;
    /* height: 40px;
    width: 40px; */
    min-width: 32px;
    min-height: 32px;
    align-content: center;
    text-align: center;
}


.newsArticle-cardAuthor{
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 10px;
}

.newsArticle-cardAuthor img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.newsArticle-cardAuthor p {
    font-size: 12px;
    color: #858585;
}