.gcx-news-card {
    border: 1px solid #d3cece;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.gcx-news-card .news-card-header {
    display: flex;
    flex-direction: row;
}

.gcx-news-card .news-card-header img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.oliver-test {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.picture-test {
    flex: 1;
    min-width: 200px;
    padding: 5px;    

    /* min-height: 200px; */
}

.details-test {
    flex: 5;
    text-align: start;
    padding: 5px;
    height: 100%;
    justify-content: space-between;
} 

.user-icon {
    flex: 1;
    min-width: 40px;
    padding: 5px;    
}

.news-meta-info {
    flex: 5;
    padding: 5px;
}

.thumbnail {
    height: 100%;
    width: 100%;
}

.gcx-news-card h3 {
    margin: 0;
}

.gcx-news-card .header-text {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.news-card-header {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.gcx-news-card .news-card-content {
    display: inline-block;
    padding: 10px 0;
}

.gcx-news-card {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.news-card-author {
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* justify-content: space-between; */
    height:100%;
    align-self: flex-end;
}

.news-card-author span:last-child {
    color: #858585;
}

.profile {
    border: 0px solid black;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    align-content: center;
    text-align: center;
}

.details-test a:link,
.details-test a:visited,
.details-test a:hover,
.details-test a:focus,
.details-test a:active {
  color: black;
  /* Optional: removes the default underline from links */
  text-decoration: none; 
}

.ellipsis-text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}