.jobcard h3 {
    color: #044D4D;
    font-size: 25px;
    margin: 5px 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* job card button overrides */
.jobcard h3 a button {
    width: 100%;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: start !important;
    font-size: inherit !important;
    color: inherit !important;
    background-color: transparent !important;
}

.jobcard h3 a button:hover span {
    text-decoration: underline;
}

.jobcard h3 a button:focus-visible  {
    outline-offset: -1px !important;
}

.jobcard h3 a button .ms-Button-flexContainer {
    display: block;
}

.jobcard h3 a button .ms-Button-label {
    margin: 0;
    font-weight: bold;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jobcard h3 a button:hover .ms-Button-label {
    color: #03787C !important;
}

.jobcard h3 a:hover {
    color: inherit !important;
}

.jobcard h3 a {
    box-shadow: none !important;
}
/*  */


.jobcard h3 a {
    text-decoration: none;
    color: inherit;
}

.jobcard h3 a:hover {
    text-decoration: underline;
}

.jobcard h3 a:focus-visible {
    outline-offset: -1px;
}

.sub {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchTermFound {
    padding: 5px 0;
}

.description {
    min-height: 90px;
    margin: 15px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.profile {
    border: 1px solid black;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    align-content: center;
}

.profile div {
    text-align: center;
    font-size: large;
}

.info {
    padding-left: 20px
}

.info div:first-child {
    font-weight: bold;
}

.info div:last-child {
    font-style: italic;
}

.jobcard .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Container for the card list */
.template_defaultList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; 
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

@media (max-width: 1200px) {
    .template_defaultList {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 900px) {
    .card-content h3 {
        max-width: 80vw !important;
    }
    .template_defaultList {
        grid-template-columns: 1fr;
    }
}

/* Individual cards */
.jobcard {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.expiredJobCard {
    padding-top: 0;
    border-top: unset !important;
}

.expiredBanner {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 15px;
    border-top: 8px solid #A1252E;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: #741A20;
    font-weight: bold;
    background-color: #FFF0F1;
    height: 40px;
    align-content: center;
}

.expiredBanner p {
    color: #741A20;
    text-align: center;
    font-size: medium;
    margin: 0;
}

/* Card content area */
.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Truncate long text with ellipsis */
.card-text {
    font-size: 14px;
    line-height: 1.4;
    height: 3em; /* 2 lines of text, adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* For single-line truncation */
    display: -webkit-box; /* Multi-line truncation */
    -webkit-line-clamp: 2; /* Number of lines */
    -webkit-box-orient: vertical;
}

.bold {
    font-weight: bold;
}

mark {
    font-weight: bold !important;
    background-color: #B6D0D1;
}

.noLinkStyle {
  text-decoration: none;
  color: inherit;
  outline-offset: 4px;
  border-radius: 5px;
}

.noLinkStyle,
.noLinkStyle:hover,
.noLinkStyle:active,
.noLinkStyle:focus,
.noLinkStyle:focus-visible,
.noLinkStyle:visited {
  text-decoration: none !important;
  color: inherit !important;
}

.noLinkStyle:hover .jobcard,
.noLinkStyle:focus .jobcard,
.noLinkStyle:focus-visible .jobcard {
    background-color: #DAE8E8;
    box-shadow: 0px 10px 24px 0px #00000026;
}

.noLinkStyle:active .jobcard{
    background-color: #B6D1D1 !important;
    box-shadow: 0px 2px 24px -2px #00000026 inset !important;
}

.noLinkStyle:hover mark,
.noLinkStyle:focus mark,
.noLinkStyle:focus-visible mark{
    background-color: #03787c;
    color: white;
}

.noLinkStyle:active mark{
    background-color: #03787c;
    color: white;
}

.noLinkStyle:hover .expiredBanner,
.noLinkStyle:focus .expiredBanner,
.noLinkStyle:focus-visible .expiredBanner {
    background-color: #fde3e5;
}

.noLinkStyle:active .expiredBanner {
    background-color: #ffcfd2;
}